.container{
  width: 80%;
  display: flex;
  background-color: black;
  margin: auto;
}
h1{
  color: white;
}
p{
  color: white;
}

img{
  width: 400px;
  height: 400px;
}

.container-1{
  background-color: aqua;
}
