<div class="container">
  <div class="container-1">
    <div class="container-2">
      <h1>CONTACT</h1>
      <div class="line"></div>
      <p>
        Here you will find more information about me, what I do, and my current
        skills mostly in terms of programming and technology
      </p>
    </div>
    <div class="container-3">
      <form>
        <label>NAME</label>
        <input type="text" placeholder="Enter your full name" />
        <label>EMAIL</label>
        <input type="text" placeholder="Enter your email" />
        <label>MESSAGE</label>
        <textarea type="text" placeholder="Enter your message" rows="10" cols="30"></textarea>
      </form>
    </div>
  </div>
</div>
