<footer>
  <div class="container">
    <section class="section">
      <h1>ALEXANDER FLORES</h1>
      <p>A Frontend focused Web Developer building the Frontend of Websites and Web</p>
      <p>Applications that leads to the success of the overall product</p>
    </section>
    <section class="section-1">
      <h1>SOCIAL</h1>
      <a href="https://github.com/aleximate"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/alexander-flores-pi%C3%B1in-194306267/"><i class="fa-brands fa-linkedin"></i></a>
      <a href=""><i class="fa-solid fa-envelope"></i></a>
      </section>
  </div>
  <div class="container-1">© Copyright 2023. Made by Alexander flores</div>
</footer>
