<div class="container">
  <div class="container-1">
    <div class="container-2">
      <h1>PROJECTS</h1>
      <div class="line"></div>
      <p class="text">
        Here you will find more information about me, what I do, and my current
        skills mostly in terms of programming and technology
      </p>
    </div>
    <div class="container-3">
      <img src="assets/img/projects/atm/atm-1.png" />
      <div class="container-4">
        <h2>ATM-MACHINE</h2>
        <p class="text-1">
          Here you will find more information about me, what I do, and my current
          skills mostly in terms of programming and technology Here you will find
          more information about me, what I do, and my current skills mostly in
          terms of programming and technology Here you will find more information
          about me, what I do, and my current skills mostly in terms of
          programming and technology Here you will find more information about me,
        </p>
        <a>CASE STUDY</a>
      </div>
    </div>
  </div>
</div>
